<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="curriculum.component.css">
    <link rel="stylesheet" href="/CV/src/styles.css" />
    <title>Currículo</title>
</head>
<body>
<header>
    <h1>Lucas Vieira</h1>

    <div class="header-border-01"></div>
    
        <p><strong>Endereço:</strong> Itu - SP</p>
    <div class="header-contato">
        <p><strong>Celular:</strong> (11) 95085-4671</p>
        <p><strong>E-mail:</strong> lucas.santos642&#64;fatec.sp.gov.br</p></div>
    
        <a href="https://www.linkedin.com/in/lucas-vrds/" class="header-linkedin">LinkedIn</a>
        <a href="https://github.com/LucasVieira58" class="header-github">GitHub</a>
    
        <div class="header-border-02"></div>
</header>

<article>
    <h3>Objetivo:</h3>
    <p>Atuar como estagiário, com intuito de ganhar experiência na área e atingir bons resultados.</p>
    <h3>Formação:</h3>
    <ul>
        <li>Cursando - Fatec Itu, Análise e desenvolvimento de sistemas - Turno: matutino</li> 
        <li>Colégio CEUNSP - Ensino médio completo (2023).</li>
    </ul>
    <h3>Experiências:</h3>
    <p>Atendente em Loja de Conveniência.</p>
    <h3>Capacitações:</h3>
    <ul> <li><strong>Excel</strong> - Básico ao intermediário (Presencial) - Escola IEFY, 48 horas - 2023</li> <li><strong>Inglês</strong> - Básico (Presencial) - Kumon</li></ul>
    <h3>Hablidades:</h3>
    <ul><li><strong>Python</strong> - Básico e intermediário - Huawei</li> <li><strong>HTML & CSS</strong> - Udemy - 2024</li></ul>
</article>

</body> 
</html>
